@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2020/12/18/16/56/laptop-5842509_960_720.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 350px;
    color: #fff;
}

.login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.login-form p{
    font-size: 20px;
    margin: 15px 0;
}

.login-form input{
    font-size: 16px;
    width: 110%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 18px 15px;
    width: 50%;
    border-radius: 20px;
    border: 0;
}

.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;}

    .links a{
     color: #f9ca24 ;
     font-size: 15px;
     cursor: pointer;
     padding-left: 1rem;
    }
    header{
        left:-120%;
        width: 100vw;
    }
 
    #menu{
        display: block;
    }
 
    header.toggle{
     left:0%;
    }
 
    body{
        padding:0;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

}
